@media screen and (max-width: 768px) {
	.wrapper {
		width: 100%;
		height: auto;
		padding: 20.48px 27px 29.52px 28px;
	}
	.inner {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: auto;
		    grid-template-columns: auto;
		-ms-grid-rows: 137.2px auto;
		    grid-template-rows: 137.2px auto;
		height: auto;
		margin: 0;
	}
	.col__title {
		line-height: 1.75;
		-webkit-writing-mode: vertical-rl; 
		-ms-writing-mode: tb-rl; 
		    writing-mode: tb-rl;
	  -webkit-transform-origin: 79px 57px 0;
	  transform-origin: 79px 57px 0;
		-webkit-transform: rotate(-90deg);
	  transform:rotate(-90deg);
	}
	.form__select-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
	}
	.form__select {
		margin-right: 30px;
	}
	.form__input_all-width {
    max-width: 375px;
    width: 100%;
    padding: 4.9px 0px 6.3px;
	}
	.form__button {
		float: none;
		display: block;
	}
	.form__text_footer {
		float: none;
		display: block;
	}
}

@media screen and (max-width: 600px) {
		.form {
		margin: 0;
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		    grid-template-columns: 1fr;
		-ms-grid-rows: 76.1px 52.1px 52.1px 56.81px 56.81px 55.2px 55.2px 58.4px 58.4px 89.20px;
		    grid-template-rows: 76.1px 52.1px 52.1px 56.81px 56.81px 55.2px 55.2px 58.4px 58.4px 89.20px; 
		grid-template-areas: "header"
												 "block"
												 "block"
												 "block"
												 "block"
												 "block"
												 "block"
												 "block"
												 "block"
												 "footer";
		grid-gap: 4.33px 15.1px;
	}
}

@media screen and (max-width: 448px) {
	.wrapper {
		padding: 0px;
	}
	.form__select {
    margin-right: 8%;
	}
}