@import url("reset.css");

*,
*::before,
*::after {
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*GitHub*/
.github {
	position: fixed;
	right: 0;
	top: 100px;
	z-index: 10000;
}
.github-link {
	display: block;
	padding: 7px 10px 5px 10px;
	background-color: #000;
	border-radius: 10px 0 0 10px;
	text-align: right;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.fa-github {
	font-size: 2.5rem;
	color: #fff;
}
.github-link:hover {
	padding-right: 40px;
}

/*Sign up form*/
.page {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: #111111;
	font-size: 14px; 
	line-height: 1;  
}
.wrapper {
	width: 100%;
	max-width: 800px;
	height: 600px;
	background-color: #F4F5FC;
	margin: 3rem auto;
	padding: 60.48px 67px 59.52px 68px;
}
.inner {
	position: relative;
	width: 100%;
	max-width: 665px;
	height: 480px;
	margin: 0 auto;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 137.2px auto;
		grid-template-columns: 137.2px auto;
	background-color: #FFFFFF;
}
.noun {
	background-image: url('../icon/noun/noun.svg');
	background-repeat: no-repeat;
	width: 307px;
	height: 353px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}

/* Blue column */
.col_blue {
	background-color: #5A61ED;
}
.col__title {
	font-family: 'PT Sans', sans-serif;
	font-size: 49px; 
	color: #FFFFFF;
	font-style: normal;
	line-height: 3.9375;
	display: block;
	-webkit-writing-mode: vertical-rl; 
	-ms-writing-mode: tb-rl; 
	writing-mode: tb-rl;
	-webkit-transform-origin: 98px 229px 0;
	transform-origin: 98px 229px 0;
	-webkit-transform: rotate(180deg);
	transform:rotate(180deg);
}

/* Column with form */
.col-with-form {
	background-color: transparent;
	padding: 38.52px 22.5px 25.58px 21.2px;
	z-index: 10;
}
.form {
	max-width: 474.11px;
	width: 100%;
	margin: 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 50% 50%;
	grid-template-columns: 50% 50%;
	-ms-grid-rows: 57.1px 52.1px 54.81px 55.2px 58.4px 110.20px;
	grid-template-rows: 57.1px 52.1px 54.81px 55.2px 58.4px 110.20px; 
	grid-template-areas: "header header"
						 "block block"
						 "block block"
						 "block block"
						 "block block"
						 "footer footer";
	grid-gap: 4.33px 12.1px;
}

/* Form header */
.form__header {
	grid-area: header;
}
.form__headline {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.25;
}
.form__text {
	line-height: 1;
}

/* Form blocks */
.form__block {
	position: relative;
}
.form__label {
	font-size: 12px;
	color: #7C7C7C;
	line-height: 0.875;
}
.form__input_all-width, .form__select {
	border: none;
	border-bottom: 1px solid #F2F2F2;
	outline:none;
	line-height: 1;
	font-size: 14px;
	font-family: 'Work Sans', sans-serif;
	color: #111111;
	background-color: transparent;
}
.form__input_all-width {
	width: 100%;
	padding: 4.9px 0px 6.3px !important;
	line-height: 16px;
}
#checkmark {
	margin-top: 9px;
	margin-left: -6px;
	position: absolute;
	width: 11px;
	height: 8px;
	background-image: url('../icon/form/__block-email/checkmark.svg');
	display: none;
}
input:-webkit-autofill{
	box-shadow:inset 0 0 0 1000px #fff;
}
form#form span.text-error {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  font-size: 10px;
  line-height: 10px;
}


/*Form Select*/
.form__select {
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance: none;
	background:url('../icon/form/__block-select/arrow.svg');
	background-repeat:no-repeat;
	background-position:right 55%;
	padding: 4.9px 0px 5.6px;
}
.form__select-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.form__select-box #day {
	width: 56px;
}
.form__select-box #month {
	width: 91px;
}
.form__select-box #year {
	width: 67.67px;
}

/* Form Radio */
.form__input-radio {
	display: inline-block;
	position: relative;
	padding-top: 5px;
}
input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="radio"]+label {
	margin-right: 16px;
	margin-left: 4px;
	cursor: pointer;
}
input[type="radio"]+label:before {
	content:'';
	position: absolute;
	width: 12px;
	height: 12px;
	cursor: pointer;
	display: inline-block;
	border: 0.7px solid #5A61ED;*/
	background-color: transparent;
	border-radius:50%;
	top: 7px;
	left: 0px;
}
input[type="radio"]+label:after {
	content:'';
	position: absolute;
	width: 6px;
	height: 6px;
	cursor: pointer;
	background-color: #5A61ED;
	border: 0.7px solid #5A61ED;
	border-radius:50%;
	top: 10px;
	left: 3px;
	display: none;
}
input[type="radio"]:checked~label:after {
	display: block;
}

/* Form footer */
.form__footer {
	grid-area: footer;
	-ms-flex-item-align: end;
	-ms-grid-row-align: end;
	align-self: end;
}
.form__text_footer {
	float: left;
	line-height: 0.9375;
	margin-top: 8px;
}
.form__link {
	cursor: pointer;
	color: #5A61ED;
}
.form__button {
	float: right;
	cursor: pointer;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	background: #5A61ED;
	border: 0.5px solid #FFFFFF;
	color: #FFFFFF;
	line-height: 1.125;
	padding: 10px 26px 8px 25px;
}